/* Global */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--brand: #f54e00;
	--headline: #26251e;
	--text: #26251e99;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #f7f7f4;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

.container {
	width: 100%;
	max-width: 1340px;
	margin: 0 auto;
	padding: 67px 20px;
}

.center {
	text-align: center;
}

.section-title {
	color: var(--headline);
	font-size: 26px;
	margin-bottom: 22px;
	font-weight: 400;
}

.btn a,
button a {
	display: inline-block;
	padding: 12px 21px;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
	color: #fff;
	background: var(--headline);
	text-align: center;
	border-radius: 50px;
}

.btn a:hover,
button a:hover {
	opacity: 0.9;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.cta {
	color: var(--brand);
	font-size: 16px;
}

.cta:hover {
	opacity: 0.8;
}

.cta svg {
	position: relative;
	top: 1px;
	margin-left: 3px;
}

/* Header */
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 12px 20px;
}

header .logo {
	flex: 0 0 20%;
}

header .logo svg {
	width: 96px;
	height: 31px;
}

header nav {
	flex: 1;
}

header nav ul {
	display: flex;
	justify-content: center;
	gap: 40px;
	list-style: none;
}

header nav ul li a {
	font-size: 14px;
	line-height: 1.3;
	color: var(--headline);
}

header nav ul li a:hover {
	opacity: 0.75;
}

header .btn {
	flex: 0 0 20%;
	display: flex;
	justify-content: end;
	gap: 10px;
}

header .btn a {
	padding: 5px 10px;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .btn a:first-child {
	background: none;
	border: 1px solid #d7d7d7;
	color: var(--headline);
}

header .btn a:first-child:hover {
	opacity: 1;
	background: #f5f5f5;
}

/* Section: Banner */
.banner .container {
	padding: 116px 20px 67px;
}

.banner .section-title {
	max-width: 658px;
	font-size: 26px;
	line-height: 1.3;
	font-weight: 400;
	margin-bottom: 22px;
}

.banner .btn a svg {
	margin-left: 3px;
	position: relative;
	top: 1px;
}

.banner .img-wrapper {
	background: url('./assets/img/bg-image.webp') no-repeat center center/cover;
	border-radius: 4px;
	padding: 50px 120px 25px;
	margin-top: 50px;
}

.banner .img-wrapper img {
	border-radius: 10px;
}

/* Section: Trusted */
.trusted .container {
	padding-bottom: 30px;
}

.trusted .section-title {
	margin-bottom: 22px;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
}

.trusted .logo-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 10px;
}

.trusted .logo {
	height: 6.25rem;
	background: #f2f1ed;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.trusted .logo img {
	width: auto;
	height: 2.5rem;
	object-fit: contain;
}

/* Sections */
.sections .wrapper {
	display: flex;
	background: #f0efeb;
	padding: 17px;
	gap: 40px;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	align-items: center;
}

.sections .wrapper:nth-child(2) {
	flex-direction: row-reverse;
	margin: 89px 0;
}

.sections .left-block {
	flex: 1;
}

.sections .right-block {
	flex: 0 0 66.49%;
}

.sections .right-block img {
	border-radius: 5px;
}

.sections .title,
.sections .desc {
	font-size: 22px;
	line-height: 1.2;
	color: var(--headline);
}

.sections .desc {
	color: var(--text);
	margin-bottom: 14px;
	line-height: 1.3;
}

/* Testimonials */
.testimonials .section-title {
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 56px;
}

.testimonials .block {
	background: #f2f1ed;
	border-radius: 5px;
	padding: 15px 17px 17px;
	border: 1px solid #e9e9e9;
	display: flex;
	flex-direction: column;
}

.testimonials .testi-content {
	font-size: 16px;
	line-height: 1.5;
	color: var(--headline);
	flex-grow: 1;
}

.testimonials .block .info {
	margin-top: 44px;
	display: flex;
	gap: 12px;
	align-items: center;
}

.testimonials .info .avatar {
	flex: 0 0 40px;
	border-radius: 4px;
	width: 40px;
	height: 40px;
}

.testimonials .info .content {
	flex: 1;
}

.testimonials .info .name,
.testimonials .info .designation {
	font-size: 14px;
	color: var(--headline);
}

.testimonials .info .designation {
	color: var(--text);
	margin-top: 5px;
}

/* Section: Features */
.feature-cards .container {
	padding-top: 111px;
}

.feature-cards .block {
	background: #f2f1ed;
	border-radius: 5px;
	padding: 15px 17px 17px;
}

.feature-cards .title,
.feature-cards .desc {
	font-size: 16px;
	line-height: 1.3;
	color: var(--headline);
}

.feature-cards .desc {
	color: var(--text);
	margin-bottom: 14px;
	line-height: 1.5;
}

.feature-cards .cta-text {
	color: var(--brand);
	font-size: 16px;
}

.feature-cards .cta-text:hover {
	opacity: 0.8;
}

.feature-cards .cta-text svg {
	margin-left: 3px;
}

.feature-cards .block img {
	margin-top: 17px;
	border: 1px solid #eee;
}

/* Changelog */
.changelog .grid {
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 22px;
}

.changelog .block {
	padding: 15px 17px 20px;
	background: #f2f1ed;
	border-radius: 5px;
	border: 1px solid #e9e9e9;
}

.changelog .date,
.changelog .title {
	font-size: 16px;
	line-height: 1.3;
	color: var(--text);
}

.changelog .title {
	color: var(--headline);
	margin-top: 13px;
}

/* Section: About */
.about .wrapper {
	display: flex;
	background: #f0efeb;
	padding: 17px;
	gap: 40px;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	align-items: center;
}

.about .left-block {
	flex: 1;
}

.about .right-block {
	flex: 0 0 66.5%;
}

.about .right-block img {
	border-radius: 4px;
}

.about .title {
	font-size: 22px;
	line-height: 1.3;
	color: var(--headline);
	margin-bottom: 22px;
}

/* Section: CTA Section */
.cta-section {
	text-align: center;
}

.cta-section .container {
	padding: 134px 20px;
}

.cta-section .section-title {
	font-size: 72px;
	line-height: 1.2;
}

/* Footer */
footer {
	background: #f2f1ed;
}

footer .container {
	padding-bottom: 30px;
}

footer .wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	margin-bottom: 100px;
}

footer .widget .widget-title,
footer .widget ul li a {
	font-size: 14px;
	line-height: 1.5;
	color: var(--headline);
}

footer .widget .widget-title {
	color: var(--text);
	font-weight: 400;
	margin-bottom: 8px;
}

footer .widget ul {
	list-style: none;
}

footer .widget ul li:not(:last-child) {
	margin-bottom: 8px;
}

footer .copyright,
footer .copyright a {
	font-size: 14px;
	color: var(--text);
}

footer .copyright a:hover {
	color: var(--headline);
}
